h1#SheepCount {
    font-size: 30px;
    font-family: serif;
    font-style: italic;
    text-align: center;
    margin-bottom: 0px;
    position: relative;
}

img {
    width: 40px;
    height: 30px;
    margin: 2px;
}

div.frame {
    background: greenyellow;
    width: 1350px;
    height: 640px;
    position: relative;
}